html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34495e;
  margin-bottom: 50px;
}

.nav-list-item {
  float: left;
}

.nav-list-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list-item a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #41B883;
}